#This contains some basic values that should probably work.
#Note that values do not require quoting
#Paths are resolved relative to the script,
[gitlab]
#The auth token for gitlab
token=
#The ssh url of the repo the script will pull from. ssh is used to avoid issues with authentification
ssh_url =
#The root of the repository host
root = invent.kde.org
# A numeric id of a repo provided by gitlab. Should be the repo a mr will be created within
mr_repo_id =
[local]
# The script will clone the remote repository for each event. This determines where these copies will live.
# tmp has the advantage that it is not keept, change this to something more stable in case you want to keep
# the clones.
base_dir = /tmp
#A directory of json-files containing events. This does not descend into subdirectories.
new_event_dir = .
